{% extends "base.html" %}

{% block content %}
    <h1>Welcome</h1>
    <h1>List of Rooms:</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Capacity</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for room in rooms %}
            <tr>
                <th scope="row">{{ room.number }}</th>
                <td>{{room.capacity}}</td>
                <td>{{room.location}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}